$bg-body: #FBFBFF; // App Body color
$light: #FBFBFF; // Background Color
$dark: #06879D; // Header/Footer Color
$primary: #453643; // Patient Color
$secondary: #28112B; // Doctor Color
$tertiary: #5E5D5C; // Admin Color


@import "../node_modules/bootstrap/scss/bootstrap";
